body {
    background-color: #0E1720 !important;
    margin: 0; 
    color: #13847E;
    font-family: "Bebas Neue", sans-serif;
}
.navbar{
  background-color: #0D5552;
}
main{
  margin-bottom: 24px;
}

.rectangulopestaña {
  width: 200px;
  height: 50px;
  margin-left: 81px;
  background-color: #ffffff;
  position: relative;
}

.rectangulopestaña::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -50px; /* Ajusta la posición del triángulo */
  width: 0;
  height: 0px;
  border-style: solid;
  border-width: 52px 0 0px 52px;
  border-color: transparent transparent transparent #ffffff;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.rectangulopestaña:hover::after {
  border-color: transparent transparent transparent #ffffff; /* Cambia el color del triángulo al hacer hover */
}

/* container_principal */
#container_principal{
    min-height: 100vh;
    background-color: #ffffff;
    flex-wrap: wrap;
    padding: 0px;
    padding-bottom: 50px;
}

/* Estilo para el contenedor principal */
#container_principal {
  position: relative; /* Permitir posicionamiento absoluto de elementos hijos */
  /* Otros estilos existentes */
}

/* Estilo para la "X" */
.close-button {
  position: absolute;
  top: 5px;
  right: 20px; 
  color: #0D5552;
  font-size: 40px; 
  text-decoration: none;
  font-family: 'Bebas Neue', sans-serif; 
  background: white; 
  padding: 10px; 
}

/* descripcion */
#descripcion{
  padding: 50px;
  padding-bottom: 0px !important;
  margin: 0px;
}

#descripcion h2{
  padding: 0;
  margin: 0;
  font-size: 50px;
}

#descripcion p{
  height: 337px;
  margin-bottom: 5px;
  text-align: left;
  padding: 50px;
  padding-bottom: 0px !important;
  font-family: "Nunito Sans", sans-serif;
  font-size: 22px;
}

/* categorias */
#categorias{
  padding: 60px;
  padding-bottom: 0px !important;
  margin: 0px;
}

/* contenido */
.container_doble{
  padding: 60px;
  padding-bottom: 0px;
  margin: 0px;
}

.container_doble .col-3{
  font-family: "Nunito Sans", sans-serif;
  padding: 0px;
  margin: 0px;
}

.container_doble .col-3 h3{
  padding-right: 50px;
  font-size: 25px;
  align-items: start;
  justify-content: start;
  font-family: "Bebas Neue", sans-serif;
  cursor: pointer;
}

.container_doble .col-9{
  font-family: "Nunito Sans", sans-serif;
  padding: 0px;
  margin: 0px;
}

.container_doble .col-9 p{
  font-size: 22px;
  align-items: start;
}

/* contenido oculto */
.contenido-oculto{
  background-color: #A3D4D2;
  padding-top: 67px;
  padding-bottom: 74px;
}

#contenido-1, #contenido-2, #contenido-3, #contenido-4, #contenido-5, 
#contenido-6, #contenido-7, #contenido-8, #contenido-9{
  display: none;
}

.contenido-oculto .row{
  padding: 40px;
}

.contenido-oculto h2{
  font-size: 22;
  padding-bottom: 50px;
}

.contenido-oculto .col-5{
  justify-content: center;
  align-items: center;
  display: flex;
}

.contenido-oculto .col-7{
  text-align: left;
  max-width: 800px;
}

.contenido-oculto p{
  font-family: "Nunito Sans", sans-serif;
  font-size: 22px;
  height: 100%; /* Asegura que p ocupe todo el ancho de col-7 */
  width: 100%;
  margin: 0;
  align-content: center;
}

.contenido-oculto img{
  width: 300px;
  height: 300px;
}

#contenido-9{

}
/* Estilo del triángulo */
.triangulo {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000; /* Cambia el color del triángulo si lo deseas */
  margin-left: 5px; /* Ajusta el margen según sea necesario */
  cursor: pointer;
}

@media (max-width: 375.98px) {

}

@media (max-width: 575.98px) {

}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 1399.98px) {

}