body{
    background-color: #0E1720 !important;
    margin: 0; 
    padding: 0;
    color: #13847E;
    font-family: "Bebas Neue", sans-serif;
}
main{
    margin-bottom: 24px;
}

.navbar{
    background-color: #0D5552;
}

.rectangulopestaña {
    width: 200px;
    height: 50px;
    background-color: #ffffff;
    position: relative;
  }
  
  .rectangulopestaña::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -50px; /* Ajusta la posición del triángulo */
    width: 0;
    height: 0px;
    border-style: solid;
    border-width: 52px 0 0px 52px;
    border-color: transparent transparent transparent #ffffff;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }
  
  .rectangulopestaña:hover::after {
    border-color: transparent transparent transparent #ffffff; /* Cambia el color del triángulo al hacer hover */
  }

#container_principal{
    min-height: 100vh;
    background-color: #ffffff;
    flex-wrap: wrap;
    padding: 0;
    padding-bottom: 213px;
}

/* Estilo para el contenedor principal */
#container_principal {
    position: relative; /* Permitir posicionamiento absoluto de elementos hijos */
    /* Otros estilos existentes */
  }
  
  /* Estilo para la "X" */
  .close-button {
    position: absolute;
    top: 5px;
    right: 20px; 
    color: #0D5552;
    font-size: 40px; 
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif; 
    background: white; 
    padding: 10px; 
  }

#reactangulo {
    text-align: center;
}

#reactangulo h2{
    text-align: center;
    margin-top: 40px;
    padding-top: 40px;
    font-size: 50px;
}



.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

img {
    max-width: 100%; /* Hace que la imagen sea responsive */
    height: auto; /* Mantiene la proporción de la imagen */
}

#container_descripcion h2{
    size: 50px;
    padding-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    font-size: 50px;
}
#container_descripcion p{
    max-width: 800px;
    margin-bottom: 5px;
    margin: 50px auto;
    padding: 0 20px;
    text-align: left;
    font-family: "Nunito Sans", sans-serif;
    font-size: 22px;
  }

  #container_descripcion1 h3{
    size: 50px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
}

#container_descripcion1 h2{
    size: 50px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    font-size: 50px;
}

#container_descripcion1 p{
    max-width: 580px;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: left;
    font-family: "Nunito Sans", sans-serif;
    font-size: 22px;
  }

h1 {
    size: 50px;
    padding-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
}

h2 {
    size: 50px;
    padding-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    font-size: 50px;
}

h3 {
    size: 50px;
    padding-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
}


#reactangulo .cuadrado{
    background-color: gray;
    height: 350px;
    width: 550px;
}

#ventajas .cuadrado{
    background-color: gray;
    height: 650px;
    width: 950px;
}

@media (max-width: 480px) {

    .rectangulopestaña{
        margin-left: 32px;
      }

    #container_principal{
      width: 326px;
      height: 100%;
      padding: 20px;
    }
    #descripcion {
      padding: 40px;
      padding-left: 20px;
      padding-right: 20px;
    }
    #container_descripcion h1{
        padding:0;
        padding-top: 20px;
        margin: 0;
        font-size: 30px;
    }
    #container_descripcion p {
        font-size: 15px;
        padding: 0;
        margin-top: 40px;
    }
    #container_descripcion h2 {
        padding:0;
        margin: 0;
        font-size: 20px;
    }
    .mb-3 {
        display: block;
    }
    .container h3{
        margin: 0;
        padding: 0;
    }
    #container_descripcion1 h3 {
        size: 20px;
        padding-top: 10px;
        margin:0;
    }

    #container_descripcion1 p {
        font-size: 15px;
    }
    #container_descripcion1 .col-4,
    #container_descripcion1 .col-8{
        width: 100%;
    }
    #imagenes h3 {
        size: 50px;
        padding-top: 40px;
        margin-bottom: 40px;
        margin-left: 0;
        align-items: start;
        justify-content: start;
    }
}