body{
  background-color: #0E1720 !important;
  margin: 0;
  padding: 0;
  color: #13847E;
  font-family: "Bebas Neue", sans-serif;
}
main{
  margin-bottom: 24px;
}

.navbar{
    background-color: #0D5552;
}

.rectangulopestaña {
    width: 200px;
    height: 50px;
    background-color: #ffffff;
    position: relative;
  }
  
  .rectangulopestaña::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -50px; /* Ajusta la posición del triángulo */
    width: 0;
    height: 0px;
    border-style: solid;
    border-width: 52px 0 0px 52px;
    border-color: transparent transparent transparent #ffffff;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }
  
  .rectangulopestaña:hover::after {
    border-color: transparent transparent transparent #ffffff; /* Cambia el color del triángulo al hacer hover */
  }
  
  /* Estilo para la "X" */
.close-button {
  position: absolute;
  top: 5px;
  right: 20px; 
  color: #0D5552;
  font-size: 40px; 
  text-decoration: none;
  font-family: 'Bebas Neue', sans-serif; 
  background: white; 
  padding: 10px; 
}
#container_principal{
  max-height: 100%;
  background-color: #ffffff;
  padding: 40px;
  padding-bottom: 40px;
}
#container_principal p{
  max-width: 100%;
  margin-bottom: 5px;
  margin: 50px auto;
  padding: 0 20px;
  text-align: left;
  font-family: "Nunito Sans", sans-serif;
  font-size: 22px;
}

/* Estilo para el contenedor principal */
#container_principal {
  position: relative; /* Permitir posicionamiento absoluto de elementos hijos */
  /* Otros estilos existentes */
}

.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* La imagen se ajustará responsivamente */
img {
  max-width: 100%;
  height: auto;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
  display: inline-block;
}

@media (max-width: 480px) {

  .rectangulopestaña{
    margin-left: 32px;
  }
  
  #container_principal{
    height: 100%;
    max-width: 326px;
  }

  #container_principal p{
    font-size: 15px;
  }
  #container-img {
    display: block;
  }
  .container-img img {
    display: block; /* Cada imagen en su propia línea */
    margin: 10px auto; /* Centrar las imágenes y añadir espacio entre ellas */
  }
  
}
@media (max-width: 576px){
  #container_principal{
    max-width: 80%;
  }
  .rectangulopestaña{
    margin-left: 10%;
    width: 100px;
  }
} 
