body {
    background-color: #0E1720 !important;
    margin: 0; 
    color: #13847E;
    font-family: "Bebas Neue", sans-serif;
}
.navbar{
  background-color: #0D5552;
}
main{
  margin-bottom: 24px;
}

.rectangulopestaña {
  width: 240px; 
  height: 40px; 
  margin-left: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#container_principal{
    min-height: 100vh;
    background-color: #ffffff;
    flex-wrap: wrap;
    padding: 0px;
}

h1 {
  size: 50px;
  padding-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
}

#descripcion p{
  max-width: 800px;
  margin-bottom: 5px;
  margin: 50px auto;
  padding: 0 20px;
  text-align: left;
  font-family: "Nunito Sans", sans-serif;
}

#containertitulo h2{
  padding-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
}

#containertitulo h3{
  padding-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
}

#container_texto p{
  max-width: 800px;
  margin-bottom: 5px;
  margin: 50px auto;
  padding: 0 20px;
  text-align: left;
}

#categorias h3{
  padding-bottom: 20px;
  margin-left: 40px;
}

#categorias h2 {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 40px;
}

#categorias p {
  width: auto;
  padding-bottom: 60px;
}

#container_doble button{
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 40px;
}

#container_doble p{
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 40px;
}

.col-7{
  width: 500px;
  font-family: "Nunito Sans", sans-serif;
}

#imagen_industrial, #imagen_grafico, #imagen_interaccion{
  width: 300px;
  height: 300px;
}

#bock_click1, #bock_click2, #bock_click3 {
  padding-left: 40px;
  margin-left: 40px;
}

/* contenido oculto */
.contenido {
  padding: 10px;
  background-color: #A3D4D2; /* Cambia el color de fondo del contenido oculto */
  height: calc(100% - 40px);
  overflow-y: auto; /* Agrega un desplazamiento vertical si el contenido es demasiado grande */
  margin-bottom: 20px;
}


.contenido-oculto{
  background-color: #A3D4D2;
  padding-top: 67px;
  padding-bottom: 74px;
}

#contenido-manipulacion #contenido-emocional,
 h2{
  font-size: 50;
  margin-left: 40px;
}
#contenido-manipulacion p{
  font-size: 22;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  max-width: 800px;
  margin-left: 40px;
  font-family: "Nunito Sans", sans-serif;
}
#contenido-manipulacion h3{
  font-size: 33;
  margin-left: 40px;
}

#contenido-manipulacion #contenido-emocional,
 #cuado_interactivo{
  background-color: #13847E;
  max-width: 550px;
  height: 350px;
  margin-bottom: 30px;
}


/* Estilo del triángulo */
.triangulo {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000; /* Cambia el color del triángulo si lo deseas */
  margin-left: 5px; /* Ajusta el margen según sea necesario */
  cursor: pointer;
}

@media (max-width: 375.98px) {

}

@media (max-width: 575.98px) {

}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 1399.98px) {

}