body {
  background-color: #0E1720 !important;
  margin: 0; 
  color: #13847E;
  font-family: "Bebas Neue", sans-serif;
}
.navbar{
background-color: #0D5552;
}
main{
margin-bottom: 24px;
}

.rectangulopestaña {
  width: 200px;
  height: 50px;
  margin-left: 80px;
  background-color: #ffffff;
  position: relative;
}

.rectangulopestaña::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -50px; 
  width: 0;
  height: 0px;
  border-style: solid;
  border-width: 52px 0 0px 52px;
  border-color: transparent transparent transparent #ffffff;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.rectangulopestaña:hover::after {
  border-color: transparent transparent transparent #ffffff;
}

#container_principal{
  background-color: #ffffff;
  padding: 0px;
  padding-bottom: 60px;
}

/* Estilo para el contenedor principal */
#container_principal {
  position: relative; /* Permitir posicionamiento absoluto de elementos hijos */
  /* Otros estilos existentes */
}

/* Estilo para la "X" */
.close-button {
  position: absolute;
  top: 5px;
  right: 20px; 
  color: #0D5552;
  font-size: 40px; 
  text-decoration: none;
  font-family: 'Bebas Neue', sans-serif; 
  background: white; 
  padding: 10px; 
}


/* descripcion */
#container_titulo{
padding: 50px;
padding-bottom: 0px !important;
margin: 0px;
}

#container_titulo h1{
padding: 0px;
margin: 0px;
}

#container_titulo p{
  margin-bottom: 5px;
  text-align: left;
  padding: 50px;
  padding-bottom: 0px !important;
  font-family: "Nunito Sans", sans-serif;
  font-size: 22px;
}

/* areas */
#area{
  padding: 60px;
  padding-bottom: 0px !important;
  margin: 0px;
}

/* contenido */
.container_doble{
  padding: 60px;
  padding-bottom: 0px;
  margin: 0px;
}

.container_doble .col-3{
font-family: "Nunito Sans", sans-serif;
padding: 0px;
margin: 0px;
}

.container_doble .col-3 h3{
  padding-right: 50px;
  font-size: 25px;
  align-items: start;
  justify-content: start;
  font-family: "Bebas Neue", sans-serif;
  cursor: pointer;
}

.container_doble .col-9{
font-family: "Nunito Sans", sans-serif;
padding: 0px;
margin: 0px;
}

.container_doble .col-9 p{
font-size: 22px;
align-items: start;
}

/* contenido oculto */
.contenido-oculto {
background-color: #A3D4D2; /* Cambia el color de fondo del contenido oculto */
height: calc(100% - 40px);
overflow-y: auto; /* Agrega un desplazamiento vertical si el contenido es demasiado grande */
}

#contenido-1, #contenido-2, #contenido-3{
display: none;
}

.contenido-oculto .row{
padding: 40px;
}

.contenido-oculto h2{
font-size: 50px;
padding-bottom: 50px;
}

.contenido-oculto .col-5{
justify-content: center;
align-items: center;
display: flex;
}

.contenido-oculto .col-7{
text-align: left;
max-width: 800px;
}

.contenido-oculto p{
font-family: "Nunito Sans", sans-serif;
font-size: 22px;
height: 100%; /* Asegura que p ocupe todo el ancho de col-7 */
width: 100%;
margin: 0;
font-size: 22px;
}

#imagen_industrial, #imagen_grafico, #imagen_interaccion{
  width: 300px;
  height: 300px;
}

/* Estilo del triángulo */
.triangulo {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000;
  margin-left: 5px;
  cursor: pointer;
}

@media (max-width: 480px) {
  #container_principal{
    max-width: 326px;
  }
  #container_titulo h1{
    padding-top: 20px;
    
  }
  #container_titulo p {
    max-height: 100%;
    font-size: 15px;
    padding: 10px;
    padding-top: 20px;
  }
  #area {
    font-size: 20px;
    padding: 20px;
    padding-top: 20px;

  }
  #container_titulo {
    padding: 20px;
    padding-bottom: 0px !important;
  }
  .container_doble {
    padding: 20px;
  }
  .container_doble .col-3,
  .container_doble .col-9{
    width: 100%;
  }
  .container_doble .col-3 h3 {
    font-size: 20px;
  }
  .container_doble .col-9 p {
    font-size: 15px;
  }
  .contenido-oculto .row {
    padding: 20px;
  }
  .contenido-oculto h2 {
    font-size: 30px;
    padding: 0;
    margin: 0;
  }
  .contenido-oculto .col-5,
  .contenido-oculto .col-7{
    width: 100%;
  }
  #imagen_industrial, #imagen_grafico, #imagen_interaccion {
    width: 200px;
    height: 200px;
}
  .contenido-oculto p{
    font-size: 15px;
}
}