body {
    background-color: #0E1720 !important;
    font-family: "Bebas Neue", sans-serif;
    margin: 0; 
    padding: 0;
    background-image: url("img/fondo1.jpg");
    background-size: contain;
    background-size: 1890px;
    background-repeat: no-repeat;
    background-position: top;
}

#p5-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

canvas {
    max-width: 100%;
    display: block;
    margin: auto;
}


h1{
    color: rgb(255, 255, 255);
    position: relative;
    right: 800px;
}

/* rectangulos */

.contenedor {
    display: flex;
    align-items: left;
}

.rectangulopestaña {
    width: 200px;
    height: 50px;
    background-color: #13847E;
    position: relative;
}

.rectangulopestaña::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -50px; /* Ajusta la posición del triángulo */
    width: 0;
    height: 0px;
    border-style: solid;
    border-width: 52px 0 0px 52px;
    border-color: transparent transparent transparent #13847E;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.rectangulopestaña:hover::after {
    border-color: transparent transparent transparent #13847E; /* Cambia el color del triángulo al hacer hover */
}

/* franja_1 */
#franja_1{
    max-width: 100%;
    height: 299px;
    display: flex;
    justify-content: center;
    margin: 0px;
    background: linear-gradient(#13847E,#0E1720);
}

#franja_1 h2{
    font-size: 80px;
    color: #0E1720;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
}

/* textocentral */
#textocentral {
    font-family: "Nunito Sans", sans-serif;
    max-width: 800px; /* Establecemos un ancho máximo */
    margin: 50px auto; /* Centramos vertical y horizontalmente */
    padding: 0 20px; /* Añadimos un poco de espacio interno */
    text-align: center;
    font-size: 2px; 
}

#textocentral p {
    color: white;
    font-size: 18px;
    line-height: 1.5; /* Ajustamos el espaciado entre líneas */
}


/* texto diseño */
#texto_diseño{
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

#texto_diseño h2{
    margin-bottom: 40px;
    font-size: 50px;
}

#texto_diseño p{
    max-width: 492px;
    font-size: 18px;
}

#tipos,
#diseño,
#campo_laboral,
#informacion_usuario{
    padding-top: 80px;
    padding-bottom: 80px;
}

#tipos p,
#diseño p,
#campo_laboral p,
#informacion_usuario p{
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
}

/* franja_2 */
#franja_2{
    display: flex;
    height: 200px;
    max-width: 100%;
    align-items: center;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(#13847E,#0E1720);
}

#franja_2 .container{
    width: 381px;
    height: 111px;
    background-color: #A3D4D2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#franja_2 .container h2 {
    color: #0D5552;
    font-size: 50px;
    margin: 0px;
}
#franja_2 .container .link-sin-estilo {
    color: inherit; /* Usa el color del texto del contenedor */
    text-decoration: none; /* Quita el subrayado */
  }

/* objetivo */
#objetivo {
    color: white;
    font-family: "Nunito Sans", sans-serif;

}

#objetivo h2{
    margin: 5%;
    font-size: 70px;
    color: #A3D4D2;
    display: flex;
    font-family: "Bebas Neue", sans-serif;
}

#objetivo #texto{
    margin: 10%;

}

#objetivo .col{
    width: 330px;
    height: 336px;
    border: 2px solid #A3D4D2;
    margin: 15px;
    display: flex;
    flex-direction: column; /* Alinear el contenido verticalmente */
    justify-content: center; /* Centra verticalmente */
    align-items: flex-start; /* Alinea el texto a la izquierda */
    padding: 20px; /* Espaciado interno */
}

#objetivo h4{
    font-size: 22px;
    color: #A3D4D2;
}
#objetivo h3{
    font-size: 30px;
}
#objetivo p{
    font-size: 18px;
}

#containerfondo {
    display: flex;
}

#BOTONventana {
    width: 500px;
}

@media (max-width: 375px) {
    canvas {
        max-width: 100%;
    }

    #p5-container {
        /* Ajusta el tamaño del contenedor */
        width: 50%; /* Cambia esto según tus necesidades */
        padding: 10px; /* Añade espacio interno si es necesario */
        margin: 0 auto; /* Centra el contenedor horizontalmente */
    }
    
    #p5-container .cuadro {
        /* Ajusta el tamaño de los cuadros individuales */
        width: 100px; /* Cambia esto según tus necesidades */
        height: 100px; /* Cambia esto según tus necesidades */
        padding: 10px; /* Añade espacio interno si es necesario */
        margin: 5px; /* Añade espacio entre los cuadros si es necesario */
        /* Puedes agregar otras propiedades de estilo según tus necesidades */
    }
    
    #p5-container .cuadro p {
        /* Ajusta el tamaño del texto dentro de los cuadros */
        font-size: 12px; /* Cambia esto según tus necesidades */
        line-height: 1.2; /* Cambia esto según tus necesidades */
        /* Puedes agregar otras propiedades de estilo según tus necesidades */
    }
    

    body{
        max-width: 388.98px;
    }

    #fondofinal{
        max-width: 100%;
    }
    #franja_1 {
        max-width: 100%;
        height: 110px;
    }
    #franja_1 h2 {
        font-size: 40px;
        padding-top: 0;
        padding-bottom: 0;
    }
    #textocentral p {
        max-width: 800px;
    }
    
    #textocentral p {
        font-size: 15px;
        line-height: 1.5;
    }
    #texto_diseño h2 {
        margin-bottom: 40px;
        font-size: 30px;
    }

    #BOTONventana {
        width: 280px !important;
    }

    #franja_2 .container {
        width: 100px;
    }
    #franja_2 .container h2 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
  /* Estilos para pantallas de 480px o menos (teléfonos pequeños) */
    .row{
        display: block;
    }
    #franja_2 .container {
        max-width: 135.36px;
    }
    #franja_2 .container h2 {
        font-size: 20px;
    }
    #BOTONventana {
        width: 313px;
    }
    #fondofinal{
        max-width: 100%;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    /* Estilos para pantallas de 768px o menos (tablets y móviles) */
    #texto_diseño{
        text-align: center;
    }
    .row{
        display: block;
    }
    #franja_2 .container {
        max-width: 200px;
    }
    #franja_2 .container h2 {
        font-size: 40px;
    }
    #fondofinal{
        max-width: 100%;
    }
}

@media (max-width: 1201px) {
    /* Estilos para pantallas de 1201px o más (escritorios grandes) */
    #BOTONventana{
        width: 380px;
    }
    #franja_2 .container {
        width: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1280px) {
    /* Estilos para pantallas de 1201px o más (escritorios grandes) */

}
