body {
    background-color: #3D494E !important;
    max-height: 712px;
}

#container_principal{
    background-color: #13847E;
    width: 1141px;
}
#row_1{
    transform: translate(0px, 166px);
}
#row_2{
    transform: translate(0px, 544px);
}

.col{
    display: flex;
    justify-content: center;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Hace que el elemento sea un círculo */
    background-color: white; /* Color del círculo */
    margin: 20px; /* Espacio entre círculos */
}

@media (max-width: 1024px){
    #container_principal{
        width: 80%;
        height: auto;
    }
}
@media (max-width: 425px){
    #container_principal{
        width: 90%;
        height: auto;
    }
    .circle{
        width: 20px;
        height: 20px;
    }
}