/* Estilos CSS para la tarjeta */
 .card {
    display: none;
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilo para la barra de cookies */
.cookie-bar {
    background-color: #f0f0f0;
    color: #000;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el botón de aceptar en la barra de cookies */
.btn-accept-cookies {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

