footer{
    background-color: #3D494E;
    color: white;
    font-family: "Bebas Neue", sans-serif;
}
#footer{
    max-height: 312px;
}

#footer .footer{
    padding: 50px;
}

#footer h3{
    font-size: 30px;
}

#footer p{
    font-family: "Nunito Sans", sans-serif;
    width: 355.07px;
    font-size: 18px;
    text-align: left;
}

#BOTONredessociales{
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

#BOTONredessociales2{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
  }
  
@media (max-width: 480px) {
    /* Estilos para pantallas de 480px o menos (teléfonos pequeños) */
    #footer h3{
        font-size: 25px;
    }
    #footer p{
        font-size: 12px;
        max-width: 100%;
    }
}
  
@media (max-width: 600px) {
      /* Estilos para pantallas de 600px o menos (teléfonos móviles) */
}
  
@media (max-width: 768px) {


}
  
@media (max-width: 1201px) {

}
  
@media (min-width: 1280px) {
  
}