body {
    background-color: #0E1720 !important;
    max-height: 712px;
    font-family: "Bebas Neue", sans-serif;
}

h1{
    color: rgb(255, 255, 255);
    position: relative;
    right: 800px;
}

/* CIRCULOS */
#container_principal{
    height: 1281px;
}

#row_circulos_1{
    transform: translate(0px, 166px);
}
#row_circulos_2{
    transform: translate(0px, 544px);
}

#col_circulos{
    display: flex;
    justify-content: center;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Hace que el elemento sea un círculo */
    background-color: white; /* Color del círculo */
    margin: 20px; /* Espacio entre círculos */

}

/* franja_1 */
#franja_1{
    height: 299px;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(#13847E,#0E1720);
}

#franja_1 h2{
    font-size: 80px;
    color: #0E1720;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
}

/* textocentral */
#textocentral {
    width: 602px;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#textocentral p{
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    color: white;
}

/* texto diseño */
#texto_diseño{
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

#texto_diseño h2{
    margin-bottom: 40px;
    font-size: 50px;
}

#texto_diseño p{
    width: 492px;
    font-size: 22px;
}

#tipos,
#diseño,
#campo_laboral,
#informacion_usuario{
    padding-top: 20px;
    padding-bottom: 20px;
}

/* franja_2 */
#franja_2{
    display: flex;
    height: 200px;
    width: 100%;
    max-width: 100%;
    align-items: center;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(#13847E,#0E1720);
}

#franja_2_contenido{
    width: 381px;
    height: 111px;
    background-color: #A3D4D2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#franja_2_contenido h2 {
    color: #0D5552;
    font-size: 50px;
    margin: 0px;
}

/* objetivo */
#objetivo{
    color: white;
}

#objetivo h2{
    margin: 5%;
    font-size: 70px;
    color: #A3D4D2;
    display: flex;
    justify-content: center;
}

#objetivo #texto{
    margin: 10%;
}

#objetivo .col{
    width: 330px;
    height: 336px;
    border: 2px solid #A3D4D2;
    margin: 10px;
    display: flex;
    flex-direction: column; /* Alinear el contenido verticalmente */
    justify-content: center; /* Centra verticalmente */
    align-items: flex-start; /* Alinea el texto a la izquierda */
    padding: 20px; /* Espaciado interno */
}

#objetivo h4{
    font-size: 22px;
    color: #A3D4D2;
}
#objetivo h3{
    font-size: 30px;
}
#objetivo p{
    font-size: 18px;
}

@media (max-width: 1024px){
    #container_principal{
        width: 80%;
        height: auto;
    }
}

@media (max-width: 768px){
    #container_principal{
        width: 80%;
        height: auto;
    }
}

@media (max-width: 425px){
    #container_principal{
        width: 90%;
        height: auto;
    }
    .circle{
        width: 20px;
        height: 20px;
    }
}