body {
    background-color: #3D494E !important;
    color: #13847E;
  }
  
  #container_principal{
    background-color: #ffffff;
    border: 20px solid #13847E;
    margin-left:auto;
    margin-right:auto;
    width: 1141px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  h3{
  padding-bottom: 20px;
  }
  
  h2 {
  padding-top: 60px;
  padding-bottom: 40px;
  }
  
  p {
  width: auto;
  padding-bottom: 60px;
  }
  
  body {
    margin: 0; 
    padding: 0; 
  }
  
  .cuadro {
  width: 100px;
  padding: 20px;
  height: 150px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  }
  
  .cuadro img {
  width: 100%;
  border-radius: 5px;
  }
  
  .cuadro h3 {
  margin-top: 120px;
  font-size: 18px;
  color: #333;
  }
  
  .cuadro {
  width: calc(33.33% - 20px); 
  margin-top: 30px;
  margin-left: 10px;
  padding: 40px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  }
  
  .cuadro img {
  width: 100%;
  max-width: 100%; 
  border-radius: 5px;
  }
  
  .cuadro h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
  }
  
  @media screen and (max-width: 768px) {
  .cuadro {
    width: calc(50% - 20px); 
  }
  }
  
  @media (max-width: 1024px){
  #container_principal{
    width: 80%;
    height: auto;
  }
  }
  @media (max-width: 425px){
  #container_principal{
    width: 90%;
    height: auto;
  }
  h3{
    font-size:larger;
  }
  }