/* Estilo para el contenedor del loader */
.loader-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    height: 200px; /* Altura fija para el contenedor, ajustar según necesidad */
}

/* Estilo para el loader */
.loader {
    position: relative;
    width: 120px;
    height: 90px;
}

/* Centrar la pelota */
.loader:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* Centrando horizontalmente */
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #2a9d8f;
    animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.loader:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 7px;
    width: 45px;
    border-radius: 4px;
    box-shadow: 0 5px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 95px 0 #f2f2f2;
    animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
    0% {
        transform: translateX(-50%) scale(1, 0.7);
    }
    40% {
        transform: translateX(-50%) scale(0.8, 1.2);
    }
    60% {
        transform: translateX(-50%) scale(1, 1);
    }
    100% {
        bottom: 140px;
    }
}

@keyframes loading-step {
    0% {
        box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
        0 10px 0 #f2f2f2,
        -35px 50px 0 #f2f2f2,
        -70px 90px 0 #f2f2f2;
    }
    100% {
        box-shadow: 0 10px 0 #f2f2f2,
        -35px 50px 0 #f2f2f2,
        -70px 90px 0 #f2f2f2,
        -70px 90px 0 rgba(0, 0, 0, 0);
    }
}

/* Estilo para el cuadro de texto informativo del loader */
.loader-text {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    display: none;
}

.loader-container:hover .loader-text {
    display: block;
}
