.navbar{
    font-family: "Bebas Neue", sans-serif;
    height: 170px;
    padding-left: 100px;
    padding-right: 100px;
    padding: 0px;
    margin: 0;
    display: flex;
}

.navbar.sticky{
    background-color: #A5D7D7;
    height: 100px;
}

#nav_home{
    font-size: 70px;
    color: #ffffff;
}

#nav_ejemplos,
#nav_acerca {
    color: #ffffff;
    font-size: 30px;
    padding-left: 30px;
}
.dropdown-menu {
    background-color: #A5D7D7;
}

.dropdown-menu .dropdown-item {
    color: #3D494E;
}

.nav-item.dropdown.active .nav-link {
    background-color: #A5D7D7;
    color: #ffffff;
}

@media (max-width: 480px) {
    /* Estilos para pantallas de 480px o menos (teléfonos pequeños) */
    .navbar {
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #nav_home{
        font-size: 40px;
    }
    #nav_ejemplos,
    #nav_acerca {
        font-size: 15px;
    }
}
  
@media (max-width: 600px) {
      /* Estilos para pantallas de 600px o menos (teléfonos móviles) */
}
  
@media (min-width: 480px) and (max-width: 768px) {
    .navbar {
        padding-left: 10px;
        padding-right: 10px;
    }
    #nav_home{
        font-size: 50px;
    }
    #nav_ejemplos,
    #nav_acerca {
        font-size: 20px;
    }
}
  
@media (max-width: 1201px) {
    .navbar {
        padding-left: 50px;
        padding-right: 50px;
    }

}